<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>FirstName</strong>: {{example.firstName}}</p>
          <p>
            <strong>LastName</strong> {{example.lastName}}</p>
          <p>
            <strong>Address</strong>: {{example.address}}</p>
          <p>
            <strong>Email</strong>: {{example.email}}</p>
          <p>
            <strong>Credits</strong>: {{example.credits}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
